# Nextflow
.nextflow/
.nextflow.log*
work/

# Raw NGS data
*.fastq
*.fastq.gz
*.fq
*.fq.gz
data/

# Reference genome
reference_genome/

# Results
results/
.nextflow-console.log
.nextflow.pid
test_data/*.fastq.gz
