# Nextflow
.nextflow/
.nextflow.log
.nextflow.log*
work/
# nextflow.pid
.nextflow.pid

# Raw NGS data
*.fastq
*.fastq.gz
data/
reference_genome/

# Results
results/
work/
results/
.nextflow/
.nextflow.log*
test_data/
