// Nextflow Configuration File

// Tool paths configuration
params {
    // FastQC tool path
    fastq_bin = "/nev/aditijadhav8919-design/fastq_pipeline/bin/fastqc"
    
    // Cutadapt tool path
    cutadapt_bin = "/nev/aditijadhav8919-design/fastq_pipeline/bin/cutadapt"
    
    // BWA tool paths
    bwa_bin = "/nev/aditijadhav8919-design/fastq_pipeline/bin/bwa"
    samtools_bin = "/nev/aditijadhav8919-design/fastq_pipeline/bin/samtools"
    sambamba_bin = "/nev/aditijadhav8919-design/fastq_pipeline/bin/sambamba"
    
    // GATK tool path
    gatk_dir = "/nev/aditijadhav8919-design/fastq_pipeline/data"
    
    // Output directory
    output = "/nev/aditijadhav8919-design/fastq_pipeline/results"
    
    // Genome reference path
    genome = "/nev/aditijadhav8919-design/fastq_pipeline/reference_genome.fa"
}
