// Nextflow Configuration File

params {
    fastq_bin = "/home/diti/ngs_pipeline/bin/fastqc"
    cutadapt_bin = "/home/diti/ngs_pipeline/bin/cutadapt"
    bwa_bin = "/home/diti/ngs_pipeline/bin/bwa"
    samtools_bin = "/home/diti/ngs_pipeline/bin/samtools"
    sambamba_bin = "/home/diti/ngs_pipeline/bin/sambamba"
    fastq_dir = "/home/diti/data"
    output = "/home/diti/ngs_pipeline/results"
    genome = "/home/diti/ngs_pipeline/reference_genome.fa"
}
